name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package and publish to CurseForge
        uses: BigWigsMods/packager@v2
        with:
          args: -e
        env:
          CF_API_KEY: ${{ secrets.CURSEFORGE_TOKEN }}
